@font-face {
    font-family: "Inter Regular";
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: "Inter Bold";
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: "Inter Extra Bold";
    src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: "Inter Variable Font";
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html {
    font-family: "Inter Regular";
}

.header-flex, ul {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
}

ul {
    gap: 40px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}

.wrapper {
    width: 80%;
}

.background-image {
    background-image: url(./assets/images/image-web-3-desktop.jpg);
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    grid-column: span 2;
}

main {
    display: flex;
    justify-content: center;
}

.main-sections {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.left-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
}
.right-container {
    width: 30%;
    background-color: black;
    color: white;
    padding: 20px;
}

p {
    font-size: 15px;
    color: hsl(236, 13%, 42%);
}

h1 {
    font-size: 40px;
    margin: 0;
    font-family: "Inter Bold";
}

h2 {
    color: hsl(35, 77%, 62%);
    font-family: "Inter Bold";
}

button {
    background-color: hsl(5, 85%, 63%);
    border: none;
    padding: 15px;
    width: 50%;
    color: white;
    cursor: pointer;
    letter-spacing: 4px;
}

.border {
    border-top: 1px solid hsl(236, 13%, 42%);
    padding-top: 30px;
}

.right-container p {
    color: hsl(236, 13%, 42%);
    margin-bottom: 30px;
}

.images {
    display: flex;
}

.image1, .image2, .image3 {
    display: flex;
}